<!-- Page Content -->
<div class="container">
    <!-- Banner -->
    <div class="banner-wrap col-md-12 col-sm-12 pl-0 pr-0">
        <img src="assets\images\banner.jpg" class="rounded w-100" alt="Book banner" />
    </div>
    <!-- Jumbotron Header -->
    <header class="jumbotron py-2" style="background-color: #d8dce4;">
        <div class="container">
            <h2 class="display-5 text-center">Shape Your Ideas!</h2>
            <p class="lead text-center">Your one-stop shop of full-stack development resources</p>
        </div>
    </header>

    <div class="search-bar">
        <form class="form-inline" style="justify-content: center; background-color: #d8dce4; border-radius: 5px;">
            <div>
                <h5 style="padding-top: 5px;">Search Books</h5>
            </div>
            <div class="input-group" style="padding-left: 10px;">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" />
                <div class="input-group-prepend">
                    <button class="input-group-text" id="basic-addon1">Go!</button>
                </div>
            </div>
        </form>
    </div>
</div>