footer {
    background-color: #5a7591;
    color: #fafafb;
    padding-bottom: 1%;
    padding-top: 1%;
}

footer .about-footer ul,
footer .cart-footer ul,
footer h5,
footer .social-footer ul,
footer .contact-us-footer ul {
    text-align: center;
}

footer .about-footer li,
footer .cart-footer li,
footer .contact li,
footer .social-footer li {
    display: inline;
}

footer a {
    text-decoration: none;
    color: #fafafb;
    padding: 3px;
}

footer .map {
    text-align: center;
}

footer .copyright {
    margin-top: 10px;
}

@media screen and (min-width: 670px) {
    footer .container {
        display: grid;
        grid-template-columns: 20% 20% 30% 30%;
        grid-template-rows: 50% 50%;
    }
    footer .about-footer li,
    footer .cart-footer li {
        display: block;
    }
    footer .cart-footer {
        padding-left: 20%;
    }
    footer .social-footer {
        padding-left: 30%;
    }
    footer .contact-us-footer {
        padding-left: 20%;
    }
    footer .map {
        grid-row: 2/2;
        grid-column: 1/5;
        text-align: end;
    }
}